.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1280px;
  width: 40%;
  padding-top: 50px;
  text-align: center;
  gap: 36px;
}

.videoUrl {
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
  color: #7f8588;
  text-align: left;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit_btn {
  color: white;
  background-color: #ff731d;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  font-size: 20px;
}
